/* Style pour la page "À propos" */

.container {
    padding: 4rem 0;
    background-color: #fff;
}
.container h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.about-section h2 {
    font-size: 36px;
    color: #006b3c;
    margin-bottom: 20px;
    margin-top: 40px;
}

.container  p {
    font-size: 18px;
    color: #333;
    line-height: 1.8;
}

.container  img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
